# LEDs
NET PARALLEL_OUT(7) LOC=B2;
NET PARALLEL_OUT(6) LOC=A3;
NET PARALLEL_OUT(5) LOC=J3;
NET PARALLEL_OUT(4) LOC=B5;
NET PARALLEL_OUT(3) LOC=A13;
NET PARALLEL_OUT(2) LOC=C13;
NET PARALLEL_OUT(1) LOC=D12;
NET PARALLEL_OUT(0) LOC=C6;

# Buttons
NET clk LOC=C9;
NET SERIAL_IN LOC=C12;