# LEDs
#NET ASCII_CODE(7) LOC=G1;
NET ASCII_CODE(6) LOC=P4;
NET ASCII_CODE(5) LOC=N4;
NET ASCII_CODE(4) LOC=N5;
NET ASCII_CODE(3) LOC=P6;
NET ASCII_CODE(2) LOC=P7;
NET ASCII_CODE(1) LOC=M11;
NET ASCII_CODE(0) LOC=M5;

NET ASCII_NEW LOC=N13;

# Neutral clock 
NET clk LOC=B8;


NET PS2_CLK LOC=B1;
NET PS2_DATA LOC=C3;
