# LEDs
#NET ASCII_CODE(7) LOC=B2;
NET ASCII_CODE(6) LOC=A3;
NET ASCII_CODE(5) LOC=J3;
NET ASCII_CODE(4) LOC=B5;
NET ASCII_CODE(3) LOC=A13;
NET ASCII_CODE(2) LOC=C13;
NET ASCII_CODE(1) LOC=D12;
NET ASCII_CODE(0) LOC=C6;

NET ASCII_NEW LOC=C5;

# Neutral clock 
NET clk LOC=B8;


NET PS2_CLK LOC=B1;
NET PS2_DATA LOC=C3;
