# LEDs
NET CTR(7) LOC=G1;
NET CTR(6) LOC=P4;
NET CTR(5) LOC=N4;
NET CTR(4) LOC=N5;
NET CTR(3) LOC=P6;
NET CTR(2) LOC=P7;
NET CTR(1) LOC=M11;
NET CTR(0) LOC=M5;

NET RCO LOC=N13;

# Button
NET clk LOC=A7;
NET nRST LOC=P11;