# LEDs
NET CTR(7) LOC=B2;
NET CTR(6) LOC=A3;
NET CTR(5) LOC=J3;
NET CTR(4) LOC=B5;
NET CTR(3) LOC=A13;
NET CTR(2) LOC=C13;
NET CTR(1) LOC=D12;
NET CTR(0) LOC=C6;


NET RCO LOC=C5;

# Button
NET clk LOC=C9;
NET nRST LOC=C12;