NET CLK LOC=A7;

NET DATA(3) LOC=B4;
NET DATA(2) LOC=K3;
NET DATA(1) LOC=L3;
NET DATA(0) LOC=P11;

NET nDIGIT(3) LOC=K14;
NET nDIGIT(2) LOC=M13;
NET nDIGIT(1) LOC=J12;
NET nDIGIT(0) LOC=F12;

NET LED(6) LOC=M12;
NET LED(5) LOC=L13;
NET LED(4) LOC=P12;
NET LED(3) LOC=N11;
NET LED(2) LOC=N14;
NET LED(1) LOC=H12;
NET LED(0) LOC=L14;

